{% extends "layout.html" %}

{% block title %}
New Post
{% endblock %}

{% block main %}
<form action="/newpost" method="post" >

    <div class="mb-3">
        <h5 style="color: green;">{{msg}}</h5>
        <h5 style="color: red;">{{error}}</h5>

        <label for="exampleFormControlInput1" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title"
            placeholder="Title e.g. Selling iPhone 12">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="phone" placeholder="000-123-4567">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">City</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" name="city" placeholder="E.g. New York">
    </div>

    <div class="row mr-auto col-sm-5 mt-2">
        <select name="category" class="custom-select">
            <option selected>Category</option>
            <option value="1">Job Listing</option>
            <option value="3">Sell General</option>
            <option value="4">Sell Electronics</option>
            <option value="5">Sell AUTO</option>
            <option value="6">Sell Real Estate</option>
            <option value="2">Lost / Found</option>
        </select>
    </div>

    <div class="mb-3 mt-2">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="6"
            placeholder="Post Description, please be as accurate as possible!"></textarea>
    </div>

 

    <div class="col-auto ml-0 mt-3 mb-3 ">
        <button class="btn btn-success" type="submit">Create New Post</button>
    </div>


</form>
{% endblock %}